-- DropForeignKey
ALTER TABLE "bons_livraison_commercial" DROP CONSTRAINT "bons_livraison_commercial_commercialId_fkey";

-- DropForeignKey
ALTER TABLE "lignes_bon_livraison_commercial" DROP CONSTRAINT "lignes_bon_livraison_commercial_bonId_fkey";

-- DropForeignKey
ALTER TABLE "lignes_bon_livraison_commercial" DROP CONSTRAINT "lignes_bon_livraison_commercial_produitId_fkey";

-- AlterTable
ALTER TABLE "bons_livraison" ADD COLUMN     "commercialId" INTEGER;

-- DropTable
DROP TABLE "bons_livraison_commercial";

-- DropTable
DROP TABLE "lignes_bon_livraison_commercial";

-- CreateIndex
CREATE INDEX "bons_livraison_commercialId_idx" ON "bons_livraison"("commercialId");

-- AddForeignKey
ALTER TABLE "bons_livraison" ADD CONSTRAINT "bons_livraison_commercialId_fkey" FOREIGN KEY ("commercialId") REFERENCES "utilisateurs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

