-- CreateEnum
CREATE TYPE "StatutBonCommercial" AS ENUM ('BROUILLON', 'VALIDE', 'ANNULE');

-- CreateTable
CREATE TABLE "stock_commerciaux" (
    "id" SERIAL NOT NULL,
    "commercialId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "quantite" INTEGER NOT NULL DEFAULT 0,
    "misAJourLe" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "stock_commerciaux_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bons_sortie" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "commercialId" INTEGER NOT NULL,
    "statut" "StatutBonCommercial" NOT NULL DEFAULT 'BROUILLON',
    "commentaire" TEXT,
    "valideLe" TIMESTAMP(3),
    "creeLe" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "misAJourLe" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bons_sortie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lignes_bon_sortie" (
    "id" SERIAL NOT NULL,
    "bonId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "quantite" INTEGER NOT NULL,

    CONSTRAINT "lignes_bon_sortie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bons_livraison_commercial" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "commercialId" INTEGER NOT NULL,
    "clientNom" TEXT,
    "clientTel" TEXT,
    "clientAdresse" TEXT,
    "statut" "StatutBonCommercial" NOT NULL DEFAULT 'BROUILLON',
    "commentaire" TEXT,
    "valideLe" TIMESTAMP(3),
    "creeLe" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "misAJourLe" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bons_livraison_commercial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lignes_bon_livraison_commercial" (
    "id" SERIAL NOT NULL,
    "bonId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "quantite" INTEGER NOT NULL,
    "prixUnitaire" DECIMAL(12,3),

    CONSTRAINT "lignes_bon_livraison_commercial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bons_retour_commercial" (
    "id" SERIAL NOT NULL,
    "code" TEXT NOT NULL,
    "commercialId" INTEGER NOT NULL,
    "statut" "StatutBonCommercial" NOT NULL DEFAULT 'BROUILLON',
    "commentaire" TEXT,
    "valideLe" TIMESTAMP(3),
    "creeLe" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "misAJourLe" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "bons_retour_commercial_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lignes_bon_retour_commercial" (
    "id" SERIAL NOT NULL,
    "bonId" INTEGER NOT NULL,
    "produitId" INTEGER NOT NULL,
    "quantite" INTEGER NOT NULL,

    CONSTRAINT "lignes_bon_retour_commercial_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "stock_commerciaux_commercialId_idx" ON "stock_commerciaux"("commercialId");

-- CreateIndex
CREATE INDEX "stock_commerciaux_produitId_idx" ON "stock_commerciaux"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "stock_commerciaux_commercialId_produitId_key" ON "stock_commerciaux"("commercialId", "produitId");

-- CreateIndex
CREATE UNIQUE INDEX "bons_sortie_code_key" ON "bons_sortie"("code");

-- CreateIndex
CREATE INDEX "bons_sortie_commercialId_idx" ON "bons_sortie"("commercialId");

-- CreateIndex
CREATE INDEX "lignes_bon_sortie_bonId_idx" ON "lignes_bon_sortie"("bonId");

-- CreateIndex
CREATE INDEX "lignes_bon_sortie_produitId_idx" ON "lignes_bon_sortie"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "bons_livraison_commercial_code_key" ON "bons_livraison_commercial"("code");

-- CreateIndex
CREATE INDEX "bons_livraison_commercial_commercialId_idx" ON "bons_livraison_commercial"("commercialId");

-- CreateIndex
CREATE INDEX "lignes_bon_livraison_commercial_bonId_idx" ON "lignes_bon_livraison_commercial"("bonId");

-- CreateIndex
CREATE INDEX "lignes_bon_livraison_commercial_produitId_idx" ON "lignes_bon_livraison_commercial"("produitId");

-- CreateIndex
CREATE UNIQUE INDEX "bons_retour_commercial_code_key" ON "bons_retour_commercial"("code");

-- CreateIndex
CREATE INDEX "bons_retour_commercial_commercialId_idx" ON "bons_retour_commercial"("commercialId");

-- CreateIndex
CREATE INDEX "lignes_bon_retour_commercial_bonId_idx" ON "lignes_bon_retour_commercial"("bonId");

-- CreateIndex
CREATE INDEX "lignes_bon_retour_commercial_produitId_idx" ON "lignes_bon_retour_commercial"("produitId");

-- AddForeignKey
ALTER TABLE "stock_commerciaux" ADD CONSTRAINT "stock_commerciaux_commercialId_fkey" FOREIGN KEY ("commercialId") REFERENCES "utilisateurs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stock_commerciaux" ADD CONSTRAINT "stock_commerciaux_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "produits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bons_sortie" ADD CONSTRAINT "bons_sortie_commercialId_fkey" FOREIGN KEY ("commercialId") REFERENCES "utilisateurs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_bon_sortie" ADD CONSTRAINT "lignes_bon_sortie_bonId_fkey" FOREIGN KEY ("bonId") REFERENCES "bons_sortie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_bon_sortie" ADD CONSTRAINT "lignes_bon_sortie_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bons_livraison_commercial" ADD CONSTRAINT "bons_livraison_commercial_commercialId_fkey" FOREIGN KEY ("commercialId") REFERENCES "utilisateurs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_bon_livraison_commercial" ADD CONSTRAINT "lignes_bon_livraison_commercial_bonId_fkey" FOREIGN KEY ("bonId") REFERENCES "bons_livraison_commercial"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_bon_livraison_commercial" ADD CONSTRAINT "lignes_bon_livraison_commercial_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bons_retour_commercial" ADD CONSTRAINT "bons_retour_commercial_commercialId_fkey" FOREIGN KEY ("commercialId") REFERENCES "utilisateurs"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_bon_retour_commercial" ADD CONSTRAINT "lignes_bon_retour_commercial_bonId_fkey" FOREIGN KEY ("bonId") REFERENCES "bons_retour_commercial"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "lignes_bon_retour_commercial" ADD CONSTRAINT "lignes_bon_retour_commercial_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

